{{ range $CRON_TIME, $containers := groupBy $ "Env.CRON_TIME" }}
    {{ if trim $CRON_TIME }}
        {{ range $container := $containers }}
        {{ $CRON_SIGNAL := coalesce $container.Env.CRON_SIGNAL "0x1" }}
{{ printf $CRON_TIME }} /usr/local/bin/docker-gen -notify-container {{ printf $container.ID }} -notify-signal {{ printf $CRON_SIGNAL }} /dev/null 1>/proc/$(cat /var/run/crond.pid)/fd/1 2>/proc/$(cat /var/run/crond.pid)/fd/2
        {{ end }}
    {{ end }}
{{ end }}

