{{ range $cron_time, $containers := groupBy $ "Env.CRON_TIME" }}
    {{ if trim $cron_time }}
        {{ range $container := $containers }}
{{ printf $cron_time }} /usr/local/bin/docker-gen -notify-sighup {{ printf $container.ID }} /dev/null 1>/proc/$(cat /var/run/crond.pid)/fd/1 2>/proc/$(cat /var/run/crond.pid)/fd/2
        {{ end }}
    {{ end }}
{{ end }}

